.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: #1E1E1E;
  min-height: calc(100vh - (Header height + Footer height));
  color: #fff;
}

.heading {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

.searchContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.searchBar {
  background-color: #ffffff;
  color: #7A7A7A;
  width: 100%;
  margin-top: 1.8rem;
  padding: 1.2rem 4rem;
  margin-left: -10%;
  font-size: 1.2rem;
  text-align: left;
  border: 2px solid #7A7A7A;
  border-radius: 30px;
}

.searchBar::placeholder {
  color: #7A7A7A;

}

.searchBar:focus::placeholder {
  color: transparent;
}

.micIcon {
  color: #ffffff;
  position: absolute;
  right: -3.5rem;
  top: 65%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}

.generateButton {
  background-color: #9fb9eb;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 3rem;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.generateButton:hover {
  background-color: #368f7a;
}
body {
  background-color: #1E1E1E;
}
